<div class="sectionContainer">
  <div>
    <button class="greenButton" ui-sref="home">Home</button>
  </div>

  <div>
    <button class="orangeButton" ui-sref="subscription">Start a Subscription</button>
  </div>

  <div>
    <h1 ng-bind="purchase.title"></h1>
  </div>

  <div>
    <form ng-submit="purchase.submitPurchase()" novalidate>
      <label for="firstname">First Name
        <input type="text" name="firstname" placeholder="First Name" ng-model="purchase.purchaseForm.firstName" required>
      </label>
      <label for="lastname">Last Name
        <input type="text" name="lastname" placeholder="Last Name" ng-model="purchase.purchaseForm.lastName" required>
      </label>
      <label for="cardnumber">Card Number
        <input type="text" name="cardnumber" placeholder="Card Number" ng-model="purchase.purchaseForm.cardNumber" required>
      </label>
      <label for="securitycode">Card Security Code(3 or 4 digit number on back of card)
        <input type="text" name="securitycode" placeholder="Card Security Code" ng-model="purchase.purchaseForm.cardSecurityCode" required>
      </label>
      <label for="expiration">Card Expiration Date
        <input type="date" name="expiration" placeholder="Card Expiration Date" ng-model="purchase.purchaseForm.cardExpirationDate" required>
      </label>

      <button class="greenButton" ng-click="purchase.submitPurchase()">Submit Purchase</button>
    </form>
  </div>
</div>
